<!-- Angular 8  -->
<!-- data binding - 4 types -->
<!-- 1. String interpolation {{data}}  (from component to template) to render the data on screen  -->
<!-- 2. property binding [property] = "data" (from component to template) to work with HTML elements-->
<!-- 3. Event binding (event)="expression" (from template to component)-->
<!-- 4. Two-way binding [(ngModel)]="data" (-> <-) -->

<!-- Directives in Angular  - 3 types -->
<!-- 1. Component directives  -->
<!-- 2. Atribute directives  - change the appearance of an DOM element (styling) -->
<!-- 3. Structural Directives - add / remove DOM elements *ngIf *ngElse, *ngSwitch *ngFor  -->

<!-- Component Directives  -->
<app-header></app-header>
<router-outlet></router-outlet>
<div class="container">

  <p>App Component 4</p>
  <hr>

  <!-- <app-login *ngIf="!myService.isLoggedIn"></app-login>
  <app-register *ngIf="myService.isLoggedIn"></app-register>
  <app-servers *ngIf="myService.isLoggedIn"></app-servers>
  <app-my-cmp *ngIf="myService.isLoggedIn"></app-my-cmp>
  <app-footer *ngIf="myService.isLoggedIn"></app-footer> -->

  <app-login *ngIf="!isLoggedIn"></app-login>
  <app-register *ngIf="isLoggedIn"></app-register>
  <app-servers *ngIf="isLoggedIn"></app-servers>
  <app-my-cmp *ngIf="isLoggedIn"></app-my-cmp>
  <app-footer *ngIf="isLoggedIn"></app-footer>

</div>


<!--   <p>{{ title }} app is running properly!</p>

  <input type="text" (input)="onChangeStatus($event)">
  <br>
  <button class="btn" [disabled]="!isIndian" (click)="changeStatus()">Be Indian</button>

  <input type="text" class="form-control" [(ngModel)]="status">

  <p> {{ status }} </p>

  <button class="btn" disabled="!isIndian" (click)="onChangeStatus">Be Indian
  </button>
  <p> {{ status }} </p>
  <p>My name is {{ name }} and my age is {{ getMyAge() }}. </p> -->